// Product List //
$shadow : 0 0 20px 0 rgba(0,0,0,.2);

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: round($number: 2);
    transition: color .2s ease;


    @media only screen and (max-width: 1000px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media only screen and (max-width: 700px){
        grid-template-columns: 1fr 1fr 1fr;

    }
    @media only screen and (max-width: 500px){
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 300px){
        grid-template-columns: 1fr;
    }
    .card{
        transition: .2s ease;
        img{
            transition: .5s ease;
                &:hover{
                    transform: scale(1.3);   
                }
        }
        .img-container{
            position: relative;
            
                .cart-btn{
                visibility: hidden;
                position: absolute;
                right: 0;
                bottom: 0;
                transition: .2s ease;
                border: none;
                border-radius: 5px 0 0 0;
                background-color: var(--lightBlue);
                box-shadow: none;
                color: var(--mainWhite);
                transition: .2s ease;
                
                i{
                    color: var(--mainWhite);
                }
                &:hover{
                    background-color: var(--lightPurple);
                    transition: .2s ease;
                }
            }
        }
        
    &:hover{
        box-shadow: $shadow;
        transform: scale(1.02);
        z-index: 1;
        img{
            transform: scale(1.3) rotateZ(10deg)
        }
        .cart-btn{
            visibility: visible;
            right: 5px;
            bottom: 5px;
        }
    }
    .card-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px 10px;

        }
    }
}