.for-input{
    display: flex;
    flex-direction: row;
}


.search-input{
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 2.5px 7.5px;
    box-shadow: -3px 4px 3px -2px rgba(0, 0, 0, 1);
}

.search-button{
    border: none;
    /* border: 1px solid var(--lightPurple); */
    box-shadow: -3px 4px 3px -2px rgba(0, 0, 0, 1);
    border-radius: 0 5px 5px 0;
    background: transparent;
    color: rgba(255, 255, 255, 0.897);
    padding: 2.5px 7.5px;
    transition: all 0.2s ease-in-out;
}

.search-button:hover{
    background: var(--lightBlue);
    color: white;
    transform: scale(1.1);
}
