:root {
    --mainBlue: #2a2a72;
    --lightBlue: #4444f8;
    --mainPurple: rgb(165, 0, 96);
    --lightPurple: #f500fdcc;
    --mainWhite: rgba(255, 255, 255, 0.897);
    --mainDark: #232528;
    --mainYellow: #ffa400;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
}

.text-title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}